<a href="https://colab.research.google.com/github/mohammadsjahanbakhsh/class_python_basic/blob/main/9_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[type of error in python](https://www.tutorialsteacher.com/python/error-types-in-python)

In [ ]:
if 5 > 0
  print(12)

In [ ]:
int("s1")

In [ ]:
print( 50 / 0)

In [ ]:
if 5 > 0 :
print(12)

In [ ]:
a = list(range(10))
print(a[12])

In [ ]:
14 / "2"

In [ ]:
print(age)

In [ ]:
import no_file

In [ ]:
names = ["ali","raza",'mobina']
scores = [15,19,17]
zip()
{ k:v for k,v in zip(names,scores)}

In [ ]:
class_ ["mahdi"]

In [ ]:
names = ["ali","raza",'mobina']
scores = [15,19,17]


zip(names , scores)

In [ ]:
list(zip(names , scores))

## comprehensive

In [ ]:
[x*2 for x in range(10)]

In [ ]:
s=[]
for x in range(0,10,2):
  s.append(str(x))

In [ ]:
[str(x) for x in range(0,10,2)]

In [ ]:
[str(x) for x in range(10) if x%2==1]

In [ ]:
[str(x) if x%2==1 else float(x) for x in range(10) ]

In [ ]:
scores = [float(i) for i in input().split()]

In [ ]:
scores

In [ ]:
names = ["ali","raza",'mobina']
scores = [15,19,17]
{k:v for k,v in zip(names , scores) }

In [ ]:
mobina={x.upper():x.lower() for x in "mobina" }

In [ ]:
mobina.keys()

In [ ]:
mobina.values()

# exception

In [ ]:
a = 5.2
b = 0

In [ ]:
a /b

In [ ]:
i = float(input())

In [ ]:
try:
  print(5 / 0)
except:
 print("!تقسیم بر صفر موجود نیست ")

In [ ]:
try:
  print(5 / 2)

except:
 print("!تقسیم بر صفر موجود نیست ")

In [ ]:
try:

  print(5 / 0)
  # چون به ترتیب اجرا شده با رسیدن به اولین ارور خارج میشه
  print(int("x1"))

except ZeroDivisionError :
  print("!تقسیم بر صفر موجود نیست ")

In [ ]:
try:

  print(int("x1"))

  print(5 / 0)


except ZeroDivisionError :
  print("!تقسیم بر صفر موجود نیست ")

except ValueError :
  print(" مقدار تابع تبدیل به عدد صحیح اشتباه است")

In [ ]:
try :
  a = [x for x in range(10)]

  print(a[12])

  a.append(int(input()))

except (ValueError , IndexError) :
  print("مقادیر نا معتبر")

In [ ]:
try :
  a = [x for x in range(10)]

  print(a[-1])

  a.append(int(input()))

except  IndexError :

  print("مقادیر نا معتبر")

else :
  print("کارکرد صحیح")

In [ ]:
try :
  a = [x for x in range(10)]

  print(a[int(input())])

except  IndexError :

  print("ایندکس نا معتبر")

except  ValueError :

  print("مقدار نا معتبر")

else :
  print("کارکرد صحیح")

finally:
  print("برنامه پایان یافت")

In [ ]:
try:
  print(5 / 2)

except:
 print("!تقسیم بر صفر موجود نیست ")

finally:
  print("برنامه پایان یافت")

In [ ]:
try:
  print(5 / 0)

except:
 print("!تقسیم بر صفر موجود نیست ")

finally:
  print("برنامه پایان یافت")

In [ ]:
a = range(5)
b = range(4)
list(zip(a,b))

In [ ]:
x = -3

In [ ]:
if x < 0 :
  raise ValueError("عدد کوچکتر از صفر است")

In [ ]:
def int_ (x):

  return int(x)

In [ ]:
try :
  num = 5 /0
except:
  print("ارور رخ داده ")
  raise

In [ ]:
try :
  num = 5 /0
except:
  print("ارور رخ داده ")

In [ ]:
assert 2+2 ==4

In [ ]:
assert 2+2 ==3

In [ ]:
x = int(input())

In [ ]:
assert x>0

In [ ]:

!wget https://raw.githubusercontent.com/mohammadsjahanbakhsh/class_python_basic/main/my_sqrt.py

In [ ]:
assert x>0 ,"عدد کوچکتر از صفر است"

In [ ]:
from my_sqrt import func_sqrt

In [ ]:
func_sqrt([12,15,"24","aa"])

In [ ]:
func_sqrt(12,15,"24","aa")

In [ ]:
type([]) is list

In [ ]:

from numpy import sqrt

def func_sqrt (*List):
  try:
    assert type(List[0]) is list
    assert type(List[0]) is tuple
    list2= list (map (sqrt , List))
    return list2
  except TypeError:
    print ("در مقادیر یک مقدار غیر عددی وجود دارد")
  except AssertionError :
    print("مقادیر به صورت لیست بود   :)")

In [ ]:
func_sqrt(12,15,16)

In [ ]:
print(age)

In [ ]:
sqrt2(32)

In [ ]:
names = ["ali","raza",'mobina']
scores = [15,19,17]
s = {k:v for k,v in zip(names , scores) }
s

In [ ]:
s["mahsa"]

In [ ]:
if x > 10
  print(x)

In [ ]:
if x > 10:
print(x)