<a href="https://colab.research.google.com/github/mohammadsjahanbakhsh/class_python_basic/blob/main/%D8%AC%D9%84%D8%B3%D9%87_7%2C8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# enumerate

[map filter lambda ](https://www.geeksforgeeks.org/python-lambda-anonymous-functions-filter-map-reduce/)

In [ ]:
# *args

In [ ]:
# sorted(key=)

In [ ]:
#filter

In [ ]:
age = 20

# One-liner if-else statement
age_group = "Minor" if age < 18 else "Adult"

print(age_group)

In [ ]:
age = 20
if age < 18:
    age_group = "Minor"
else:
    age_group = "Adult"
print(age_group)

In [ ]:
# map cube

In [ ]:
myStrings = ["Python","Java","PHP","Scala"] # lower upper

In [ ]:
# n * -1

In [ ]:
Max = lambda a, b : a if(a > b) else b

In [ ]:
age = 20

In [ ]:
age2 = "yes" if age > 20 else "no"

In [ ]:
f = lambda x : -1*x if x< 0 else x

In [ ]:
list1=[-1,2,42,-43]

In [ ]:
list(map(f , list1))

In [ ]:
list( filter(lambda x: x>0 , list1) )

In [ ]:
power2=list(map(lambda x:x**2 , list(range(1,10))) )
power2

In [ ]:
# جداکردن اعداد بزرگتر از 50 در یک لیست
tuple(filter (lambda x: x>50 , power2) )

In [ ]:
tuple(filter (lambda x: x<50 and x%2==0 , power2) )

In [ ]:
for i in range(len(power2)):
  print(power2[i])

In [ ]:
for i  in power2:
  print(i)

In [ ]:
power2

In [ ]:
for i,j in enumerate(power2):
  print(i,j)

In [ ]:
numbers=[]
for i in enumerate(power2):
  print(i)
  numbers.append(i)

In [ ]:
numbers = [(4, 1), (1, 36), (28, 9), (3, 16), (4,49 ), (5, 0), (6, 2), (8, 64), (7, 15)]

In [ ]:
numbers

In [ ]:
sorted(numbers)

In [ ]:
sorted (numbers, key=lambda x:x[1])

In [ ]:
s1 = {
    "ali":[19,24,2800]
}
s2 = {
    "reza":[15,22,3800] ,
    "mahsa":[189,34,3500]

}
s1.update(s2)

In [ ]:
s1

In [ ]:
del s1["ali"]

In [ ]:
s1

In [ ]:
student ={
    "ali":[19,24,2800] ,
    "reza":[15,22,3800] ,
    "mahsa":[189,34,3500] ,
}

In [ ]:
s1

In [ ]:
#list(student.items())[i][1][1]

In [ ]:
age_stu=sorted ( student.items() , key=lambda x: x[1][1] )
for i in age_stu :
  print(i)

In [ ]:
sorted ( student.items() , key=lambda x: x[1][2] )

In [ ]:
# مرتب بر اساس حرف دوم اسم

In [ ]:
sorted ( student.items() , key=lambda x: x[0][1] )

In [ ]:
list2=['mahsa', 1892, 340, 3500]

In [ ]:
def func (x):
  name = x[0]
  s = sum(x[1:])
  print(f"name :{name} , salary :{s} ")

func(list2)

In [ ]:
def func2 (a,*x):
  name = a
  s = sum(x)
  print(f"name :{name} , salary :{s} ")

func2('mahsa', 1892, 340, 3500,1003,2124)

In [ ]:
a,*x = 'mahsa', 1892, 340, 3500
print(x)

In [ ]:
print(*x ,sep=" % ")

In [ ]:
from my_sqrt import func_sqrt

In [ ]:
func_sqrt(16,81)

In [ ]:
# join 2 dict
s1 = {
    "ali":[19,24,2800]
}
s2 = {
    "reza":[15,22,3800] ,
    "mahsa":[189,34,3500]

}

s1.update(s2)

In [ ]:
s1

In [ ]:
s2

In [ ]:
# delete a key from dict
del s1["ali"]

In [ ]:
s1

In [ ]:
del s1

In [ ]:
s1

## sets

In [ ]:
#  | & - s.update(s2) string.format

In [ ]:
s1 = { 1,2,3,4,1 }
s2 = { 3,4,5,6 }

In [ ]:
s1

In [ ]:
list(s1)[2:]

In [ ]:
type(s1)

In [ ]:
s1 | s2

In [ ]:
s1 & s2

In [ ]:
s1 - s2

In [ ]:
(s1 - s2 ) | (s2 - s1)

In [ ]:
(s1 | s2) - (s1 & s2)

In [ ]:
s2 ^ s1

In [ ]:
s1.update(s2)
# s1 = s1 | s2

In [ ]:
s1

In [ ]:
s1.remove(1)

In [ ]:
s1

In [ ]:
l1 = list(range(10))
l2  = list(range(5,15))
l1

In [ ]:
l2

In [ ]:
list(  set(l1) | set(l2)   )

In [ ]:
list(  set(l1) & set(l2)   )

In [ ]:
reza= [15,22,3800]

In [ ]:
f"reza age :{reza[0]} , income {reza[-1]}"

In [ ]:
s= "reza age :{} , income {}".format(reza[0] , reza[-1])

In [ ]:
s

In [ ]:
print("reza age :{} , income {}".format(reza[0] , reza[-1]))

In [ ]:
from format1 import format

In [ ]:
format(24,26)

In [ ]:
s1 = {
    "ali":[19,24,2800],
    "reza":[15,22,3800] ,
    "mahsa":[189,34,3500]

}


name , *values = input().split()

In [ ]:
name

In [ ]:
type(values[0])

In [ ]:
values=list(map( int , values))
values

In [ ]:
#s1["key"] = values
s1[name] = values

In [ ]:
s1

In [ ]:
name_score = list()
for i in range(5):
  temp=input().split()
  name_score.append([temp[0],float(temp[1])])

name_score

In [ ]:
d = dict()
for k,v in name_score:

  if v > 17 :
    continue

  d[k]=v

else:print(d)

In [ ]:
d.items()

In [ ]:
('ali', 15.5)[0][2]

In [ ]:
# مرتب بر اساس نمره
sorted( d.items() ,key=lambda x:x[1] )

In [ ]:
# مرتب بر اساس حرف سوم اسم
sorted( d.items() ,key=lambda x:x[0][2] )